<% @contacts.each do |c| %>
  <tr>
    <td>
      <% if c == @contacts.last %>
        <input type="hidden" name="page" value="<%= (params[:page].to_i + 1 if params[:page]) or 2 %>" class="pageHolder"/>
      <% end %>
      <%= c.id %>
    </td>
    <td><%= c.first_name %></td>
    <td><%= c.last_name %></td>
    <td><%= c.email %></td>
    <td><%= link_to "View Contact", c %></td>
  </tr>
<% end %>