<h1>Contacts</h1>

<div class="pull-right">
  <a href="<%= new_contact_path %>" class="btn btn-primary">Create Contact</a>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.first_name %></td>
      <td><%= c.last_name %></td>
      <td><%= c.email %></td>
      <td><%= link_to "View Contact", c %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
</div>
