<h1>Contacts</h1>

<div class="pull-right">
  <a ic-get-from="<%= new_contact_path %>"
     ic-target="#content-div"
     class="btn btn-primary">Create Contact</a>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">Activate</a>
      </li>
      <li>
        <a href="#">Deactivate</a>
      </li>
    </ul>
  </div>

</div>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Status</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody id="contacts-table-body">
    <% @contacts.each do |c| %>
      <tr>
        <td>
          <%= c.id %>
        </td>
        <td><%= c.status %></td>
        <td><%= c.last_name %></td>
        <td><%= c.email %></td>
        <td><%= link_to "View Contact", c %></td>
      </tr>
    <% end %>  </tbody>
</table>

<div class="pull-right">
  <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
</div>
