<!DOCTYPE html>
<html>
  <head>
    <title>IntercoolerTutorialApp</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <link rel='stylesheet' type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel='stylesheet' type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://s3.amazonaws.com/intercoolerjs.org/release/intercooler-0.2.0.min.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Intercooler Tutorial</a>
          </div>
          <!--/.nav-collapse -->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/contacts">Contacts</a></li>
            </ul>
          </div>
        </div>
        <!--/.container-fluid -->
      </div>
    </div>

    <div id="flash-div" class="container" ic-append-from="/flash_content" ic-deps="*">
      <%= render :partial => '/layouts/flash_content' %>
    </div>

    <div id="content-div" class="container">
      <%= yield %>
    </div>

  </body>
</html>
